.bodyJugar {
  background-color: black;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0; /* Eliminar márgenes extra */
}

.container1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2; /* Asegura que los elementos estén por encima del fondo */
}

.botonJugar {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 2rem;
  padding: 20px 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.25s ease;
  position: relative;
}

/* Hover: rojo brillante */
.botonJugar:hover {
  color: red;
  border: 2px solid rgb(255, 0, 0);
  text-shadow: 2px 2px 10px rgba(255, 0, 0, 0.7);
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.4);
}

/* Al hacer clic: leve presión + destello rojo */
.botonJugar:active {
  transform: scale(0.95);
  box-shadow: 0 0 40px rgba(255, 0, 0, 0.8);
  background: rgba(255, 0, 0, 0.1);
}

/* Efecto de destello rápido */
@keyframes flash {
  0% {
    box-shadow: 0 0 0px rgba(255, 0, 0, 0);
  }
  50% {
    box-shadow: 0 0 40px rgba(255, 0, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 0px rgba(255, 0, 0, 0);
  }
}

.botonJugar:active {
  animation: flash 0.25s ease;
}

.titleJugar {
  color: rgb(202, 4, 4);
  font-size: 5rem;
  text-shadow: 2px 2px 10px rgba(255, 0, 0, 0.7);
}

/* Fondo de pantalla */
.bodyJugar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('image.png'); /* Asegúrate de que la imagen esté en la carpeta public/images */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Asegura que la imagen cubra todo el área */
  z-index: 1; /* Asegura que la imagen quede detrás de los demás elementos */
}
