@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.bodySala {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Orbitron', sans-serif;

}

.container1 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botonSala {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 2rem;
  padding: 20px 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 30px;
  font-family: 'Orbitron', sans-serif;
}
.botonSala:hover {
  color: red;
  border: 2px solid rgb(255, 0, 0);
  text-shadow: 2px 2px 10px rgba(255, 0, 0, 0.7);
}

.titleSala {
  color: rgb(202, 4, 4);
  font-size: 5rem;
  text-shadow: 2px 2px 10px rgba(255, 0, 0, 0.7);
  font-family: 'Orbitron', sans-serif;
}

.temporizador{
  color:white;
  font-size: 3rem;
  font-family: 'Orbitron', sans-serif;
}