.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.modalContent {
  background-color: #3a0000;
  padding: 15% ;
  text-align: center;
  border-radius: 5px;
}

.titleLobby {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 50px;
  color: white;
}

.list{
  list-style-type: none;
}

.inputLobby{
  padding: 15px; 
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  background-color: #f0f0f0; 
  color: #333; 
}

.butonLobby {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  background: transparent;
  border: 2px solid gray;
  color: white;
  font-size: 1em;
}

.butonLobby:hover {
  background: white;
  color: #3a0000;
}